.listItem {
  padding-top: 0.6em;
  display: block;
  cursor: pointer;
}

.listButton {
  float: right;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.listButton:hover {
  font-size: 16px;
  color: #fff;
  background-color: #909090;
  border-radius: 1em;
}

.editButton {
  float: right;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.editButton:hover {
  color: #fff;
  background-color: #009E89;
}