.listItem {
  padding-top: 0.6em;
  display: block;
  cursor: pointer;
}

.listButton {
  float: right;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.listButton:hover {
  font-size: 16px;
  color: #fff;
  background-color: #909090;
  border-radius: 1em;
}

.editButton {
  float: right;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.editButton:hover {
  color: #fff;
  background-color: #009E89;
}

.formHide {
  text-align: center;
  position: fixed;
  top: 50%;
  right: 35%;
  display: none;
}

.inputHide {
  margin-right: 0.5em;
}